# Python
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

# Virtual environments
venv/
.env
.venv/

# Editor / OS
.vscode/
*.log
.DS_Store

# Python packaging / cache
pip-wheel-metadata/
.eggs/
.pytest_cache/

# Build
build/
dist/

env.py