__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
venv/
.env
.venv/
.vscode/
*.log
.DS_Store
pip-wheel-metadata/
.eggs/
.pytest_cache/
build/
dist/
env.py
node_modules/
core.mongo*
core.Microsoft*
core.python*
cloudinary_python.txt
.github/